.socialFooter{
  font-style: italic;
  font-size: 20px;
  color:orange;
  display:block;
  text-align:center;
  i.icons{
    font-size: 1.933333333333333em;
    display:inline-block;
    width:0.80em;
    padding: 0 0.10em;
    margin-bottom:1em; 
    line-height: 0;
    &:hover{
      box-shadow: 2px 2px 13px grey ;
    }
  }
  .small{
    color:#31708f;
    font-size: 0.50em;
    padding-top:2vh;
    }
  }
